@mixin f-c-s($center,$space-between){
    display: flex;
    align-items: $center;
    justify-content: $space-between;
}

@mixin cube($width,$height) {
    width: $width !important;
    height: $height !important;
}