
:root {
    --nav-heigth:calc(2vw + 3.5rem) !important;
}

.navigation {
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;

  .navigation_container {
    width: 100%;
    padding: var(--primary-padding);
    height: calc(2vw + 9.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #F3F3F3;
    background: linear-gradient(180deg, #FFFFFF 50.26%, rgba(255, 255, 255, 0) 100%);

    .logo {
      width: calc(12rem + 10vw);
      padding: 3rem;
      background-image: url("/svg/fsg_logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .hamburger_container {
        display: flex;
        align-items: center;

      .nav_links {
        display: flex;
        align-items: center;

        .nav_items {
          &:not(:first-child) {
            margin: 0rem 0rem 0rem calc(1rem + 0.7vw);
          }

          a {
            text-decoration: none;
            color: var(--primary-black);
            font-size: $f-size-p4;
            font-weight: $f-weight-regular;
          }
          a:hover {
            color: #353535;
          }
        }
      }

      .select_lang {
        margin-left: calc(1.5rem + 1vw);
        display: flex;
          [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
          }
          [type=radio] + div{
            cursor: pointer;
            filter : brightness(.74) contrast(.99) grayscale(.63);
          }
          [type=radio]:checked + div {
            filter: none;
            transition: all .2
          }
          label {
            div{
              width: 25px;
              height: 25px;
              cursor: pointer;
            }
          .ge_language{
            background-image: url("/svg/KA.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          .eng_language {
            background-image: url("/svg/EN.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          .rus_language {
            background-image: url("/svg/ru.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 21.5px;
            margin : 0 5px;
          }
        }
    }
  }

    .hamburger {
      display: none;
    }
  }
}





@media screen and (max-width: $medium-screen) {
  .navigation {
    .navigation_container {
      height: var(--nav-heigth);
      background-color: var(--primary-white);

      .logo {
        width: calc(11rem + 10vw) !important;
      }

      .hamburger_container {
        position: absolute;
        top: var(--nav-heigth);
        left: 0;
        width: 100%;
        background-color: var(--primary-white);
        height: auto;

        .nav_links {
          flex-direction: column;

          .nav_items {
            margin: 4vh 0vh !important;
          }
        }

              .select_lang {
                margin-left: 0;
              }
    

        .menu_none {
          display: none;
        }
        .menu_block {
            display: flex;
            width: 100%;
        }

       
        
      }
      .hamburger {
        width: calc(2rem + 1vw);
        padding: 2rem;
        background-image: url("/svg/humburger.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
      }
    }
  }
}

@media screen and (max-width: $small-screen) {
  .navigation {
    .navigation_container {
        height: calc(2vw + 3.5rem) !important;
      .logo {
        padding: 2rem;
        width: calc(9rem + 9vw) !important;
      }
      
      }
      .hamburger {
        padding: 1rem !important;
        width: calc(2rem + 1vw);      
      }
    }
  }
