.offices {
    padding: 5vw 7vw;
    .offices_container{
        display: grid;
        grid-template-rows: .5fr 1fr;
        width: 100%;
        .heading {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            .main_header{
                display: flex;
            }
            .offices_subtitle{
                flex-direction: column;
                width: 80%;
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
            }
        }

        .postagram_map {
            // background-image: url("/pictures/map.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position:center;
            width: 60%;
            height: 90%;
            margin: 0 auto;
            // border-radius: 36px;
            box-shadow: 20px 20px 55px rgba(19, 21, 26, 0.12);
            outline: none;
            border: navajowhite;
            border-radius: 30px;


            canvas{
                user-select: none;
                outline: none;
            }
        }
    }
}


@media screen and (max-width: $medium-screen) {
    .offices {
        .offices_container{
            grid-template-rows: .2fr 1fr !important;
            padding: var(--body-padding);
            height: 80vh;

            .heading {
                display: flex;
                align-items: center;
                margin: initial !important;
            }
    
            .postagram_map {
                width: 100% !important;
                height: 70%;
            }
        }
    }
    
      @media screen and (max-width: $small-screen) {
        .offices {
            .offices_container{
                height: initial !important;
                grid-template-rows: auto 1fr !important;
                padding: 0;
                width: 100%;
                .heading {
                    display: flex;
                    align-items: center;
                    margin: initial !important;
                    justify-content: initial !important;
                    width: 100%;
                }

                .main_header {
                    width: 100%;
                }
        
                .postagram_map {
                    width: 100% !important;
                    height: 400px;
                }
                .offices_subtitle{
                    flex-direction: column;
                    width: 100% !important;
                    display: flex;
                    justify-content: center;
                    padding: 0;
                }
            }
        }
    }
}
    