@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/// ====================== Noto

@font-face {
    font-family: "georgian";
    font-weight: 900;
    src: url("/fonts/Noto/NotoSansGeorgian-ExtraBold.ttf");
}


@font-face {
    font-family: "georgian";
    font-weight: 800;
    src: url("/fonts/Noto/NotoSansGeorgian-Bold.ttf");
}

@font-face {
    font-family: "georgian";
    font-weight: 700;
    src: url("/fonts/Noto/NotoSansGeorgian-SemiBold.ttf");
}


@font-face {
    font-family: "georgian";
    font-weight: 500;
    src: url("/fonts/Noto/NotoSansGeorgian-Medium.otf");
}



@font-face {
    font-family: "georgian";
    font-weight: 400;
    src: url("/fonts/Noto/NotoSansGeorgian-Regular.ttf");
}


@font-face {
    font-family: "georgian";
    font-weight: 100;
    src: url("/fonts/Noto/NotoSansGeorgian-Light.ttf");
}








